@page "/forgot-password"
@inject IAuthServiceClient AuthService
@inject IEmailServiceClient EmailService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<PageTitle>Forgot Password</PageTitle>

<h3>Forgot Password</h3>


<EditForm Model="user" OnValidSubmit="HandleForgotPass">
	<DataAnnotationsValidator />
	<div class="mb-3">
		<label for="email">Email </label>
		<InputText id="email" @bind-Value="user.Email" class="form-control"></InputText>
		<ValidationMessage For="@(() => user.Email)" />
	</div>
	<div class="mb-3">
		<button type="submit" @onclick="HandleForgotPass" class="btn btn-primary"> Send Email</button>
	</div>
	<div class="@emailMessageCssClass">
		<span>@emailMessage</span>
	</div>
	<!--<ValidationSummary/>-->
</EditForm>



@code {
	UserLogin user = new UserLogin();
	string emailMessage = string.Empty;
	string emailMessageCssClass = string.Empty;


	private async Task HandleForgotPass()
	{

		
		emailMessage = "Sending Email...";

		var result = await AuthService.ForgotPassword(user.Email);
		emailMessage = result.Message;

		if (result.Success)
		{
			emailMessage = $"Email sent successfully! {result.Message}";
			emailMessageCssClass = "text-success";

		}
		else
		{
			emailMessage = $"Email failed to send :(. {result.Message}";
			emailMessageCssClass = "text-danger";
		}


	}
}






