@page "/profile"
@inject IAuthServiceClient AuthService
@attribute [Authorize]


<AuthorizeView>
	<h3>Hi You're logged in with: <i style="color:dodgerblue">@context.User.Identity.Name</i>.</h3>
</AuthorizeView>


<h5>Add Profile Info Here</h5>

	
