@page "/reset-password"
@using Microsoft.AspNetCore.Components
@inject IAuthServiceClient AuthService
@inject NavigationManager NavigationManager

<PageTitle>Reset Password</PageTitle>

<h3>Reset Password Page!!!!!!!!!!!</h3>


@code {




}